{% extends 'core/base.html' %}

{% load static %}

{% block title %}Historia{% endblock %}

{% block content %}
<section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/about.jpg' %}" alt="">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Tradición familiar Oaxaca</span>
              <span class="section-heading-lower">Nuestra Historia</span>
            </h2>
            <p> NESCAFÉ® es una historia de innovación continua desde 1948, enfocada en satisfacer las necesidades del consumidor. Así es el caso de NESCAFÉ® Reserva, un producto producido en su totalidad con granos de café cosechados a mano provenientes de las regiones de los tres estados cafetaleros que se realiza con un proceso que le permite conservar todas sus propiedades y preservar así toda la riqueza de su sabor y aroma. </p>
            <p>NESCAFÉ® Reserva Oahan®, llega desde el bello istmo de Tehuantepec, Oaxaca. Es un café que cuenta con un tostado único que resalta el intenso sabor característico de la zona para disfrutar una auténtica taza.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}